body {
  background-color: rgb(204, 228, 230);
}

.jumbotron {
  background-color: rgb(202, 212, 240);
  text-align: center;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva;
}

.jumbotron p {
  box-sizing: border-box;  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
}

