body {
  background-color: rgb(156, 204, 215);
}

.jumbotron {
  background-image: linear-gradient(to bottom right, rgb(199, 223, 229), rgb(146, 184, 196));
  text-align: center;
  font-family:monospace;
  margin-top: 3px;
}

.jumbotron p {
  box-sizing: border-box;  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
}

.btn {
  background-color: white;
}

#name {
  width: 50%;
}
